<% include ../partials/header %>


    <div class="container">
            <h2 class = "hdcenter">Edit Comment to <%= campground.name%></h2>
        <form action="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>?_method=PUT" method="POST">

            <input class = "form-control inputwidth text-center" type="text" name="comment[text]" value="<%= comment.text%>>">
            <!-- <input class = "form-control inputwidth text-center" type="text" name="comment[author]" placeholder="Author"> -->
            <button class = "btn btn-outline-info btn-block btnwidth">Edit Comments</button>

        </form>

        <div class = "footerwidth"><a href="/campgrounds/<%= campground._id%>">Back</a></div>
    </div>
<% include ../partials/footer %>