<% include ./partials/header %>



    <% resultChanges.forEach(function(change){ %>
        <div class="ui raised container segment">
            <div class=" text container">
                <h2 class = "ui header">
                <a href="/change/<%= change._id%>">
                    <%= change.changeId%>
                </a>

                    <%= change.header%>
                </h2>
            </div>
            <div class=" text container">
                <p>
                    <%= change.description.substring(0,100)%>
                </p>
            </div>
            <div class=" text container">
                <%= change.enteredDate.toDateString() %>
            </div>
            <a class="ui primary button" href="/change/<%= change._id%>">
                Open
            </a>
        </div>
    <% }); %>


<% include ./partials/footer %>