<% include ./partials/header %>





    <div>
        <%= resultChange.changeId%>
    </div>
    <div>
        <%= resultChange.header%>
    </div>
    <div>
        <%- resultChange.description%>
    </div>
    <div>
        <%= resultChange.enteredDate.toDateString() %>
    </div>

    <div>
        <a href="/change/<%= resultChange._id%>/edit">Edit</a>
    </div>

    <form method="POST" action="/change/<%= resultChange._id%>?__method=DELETE">
        <button>Delete</button>

    </form>

    <a href="/change"> Home</a>

    <% include ./partials/footer %>